@font-face {
  font-family: "NanumGothic";
  src: url("../assets/NanumGothic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NanumGothic";
  src: url("../assets/NanumGothic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-nanum: "NanumGothic";
  --text-28: 28px;
  --text-24: 24px;
  --text-20: 20px;
  --text-18: 18px;
  --text-16: 16px;
  --text-15: 15px;
  --text-14: 14px;
  --text-12: 12px;
}
@layer componets {
  .Font-28-Bold {
    @apply font-nanum text-28 font-bold;
  }
  .Font-24-Bold {
    @apply font-nanum text-24 font-bold;
  }
  .Font-20-Bold {
    @apply font-nanum text-20 font-bold;
  }
  .Font-18-Bold {
    @apply font-nanum text-18 font-bold;
  }
  .Font-16-Bold {
    @apply font-nanum text-16 font-bold;
  }
  .Font-15-Bold {
    @apply font-nanum text-15 font-bold;
  }
  .Font-14-Bold {
    @apply font-nanum text-14 font-bold;
  }
  .Font-24-Regular {
    @apply font-nanum text-24;
  }
  .Font-20-Regular {
    @apply font-nanum text-20;
  }
  .Font-18-Regular {
    @apply font-nanum text-18;
  }
  .Font-16-Regular {
    @apply font-nanum text-16;
  }
  .Font-15-Regular {
    @apply font-nanum text-15;
  }
  .Font-14-Regular {
    @apply font-nanum text-14;
  }
  .Font-12-Regular {
    @apply font-nanum text-12;
  }
}
