@font-face {
  font-family: "NanumGothic";
  src: url("../assets/NanumGothic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NanumGothic";
  src: url("../assets/NanumGothic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-nanum: "NanumGothic";
  --text-28: 28px;
  --text-24: 24px;
  --text-20: 20px;
  --text-18: 18px;
  --text-16: 16px;
  --text-15: 15px;
  --text-14: 14px;
  --text-12: 12px;
}
